/*############
  This is for the Parallax scrolling
  ###########*/


.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h3 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("img/hire-me.jpg");
}
section.module.parallax-2 {
  background-image: url("img/curriculum-vitae.jpg");
}
section.module.parallax-3{
  background-image: url("img/rockclimbing.jpg");
}
@media all and (min-width: 600px) {
  section.module h3 {
    font-size: 42px;
  }
  section.module.parallax h2 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h2 {
    font-size: 160px;
  }
}

/*#######
  Timeline
########*/

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            font-size:14 !important;
        }
            .timeline > li > .timeline-panel > .timeline-body{
                display:none;
            }
            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
            .timeline > li.timeline-inverted > .timeline-panel >.timeline-body{
                display:none;
            }
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-badge > .glyphicon{
  line-height: inherit;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }
.timeline-title-small{
    font-size:14;
    opacity:0.6;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
.timeline-image{
    display:block;
    background-size:cover;
    height:300px;
}
    #Grundschule.timeline-image{
        background-image:url("img/RNK.JPG");
    }
    
    #Realschule.timeline-image{
        background-image:url("img/RFG.jpg");
    }
    #Familienzentrum.timeline-image{
        background-image:url("img/FamZentrum.JPG");
    }
    #Berufskolleg.timeline-image{
        background-image:url("img/AHS.jpg");
    }
    #Uni.timeline-image{
        background-image:url("img/uni_siegen_1.jpg");
    }
    #Buhl.timeline-image{
        background-image:url("img/Buhl.png");
    }
    .fb-video{
        position:relative;
        width:100%;
        padding-bottom:25px;
    }
    .navbar-default{
        background-color:#cccccc;
        
    }
    .navbar-default .navbar-nav > li > a{
        color:black;
    }
    .navbar-default .navbar-brand{
        color:black;
    }
.information{
    display:flex;
    text-align:center;
    font-size:25px;
    line-height:60px;
    padding:15px;
}
    .information > .information-key{
        flex:2;
        order:1;
    }
    .information > .information-icon{
        flex:1;
        order:2;
        font-size:60px;
    }
    .information > .information-value{
        flex:2;
        order:3;
    }